.radio-button {
  position: relative;
  cursor: pointer;
}

.radio-button:hover {
  box-shadow: 0 3px #666;
  transform: translateY(1px);
}

.radio-card {
  visibility: hidden;
}

.color-name {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-size: 100%;
  margin: auto;
}

.fix-padding-left {
  padding-left: 0px !important;
}

.red-box {
  background-color: #db2828;
  height: 100px;
  border-radius: 10px;
  margin-left: 25px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.blue-box {
  background-color: #2185d0;
  height: 100px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.green-box {
  background-color: #21ba45;
  height: 100px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.yellow-box {
  background-color: #fbbd08;
  height: 100px;
  border-radius: 10px;
  margin-left: 25px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.white-box {
  background-color: aliceblue;
  height: 100px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.purple-box {
  background-color: #a333c8;
  height: 100px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.stake-box {
  height: 40px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  text-align: center;
  line-height: 35px;
  font-weight: bold;
}

.input-box {
  margin-left: 15px;
}

.wallet-box {
  padding-left: 12px;
  padding-right: 40px;
}

.banner-message {
  font-size: 50px;
}

.game-btn {
  width: 50% !important;
  border-radius: 25px !important;
}

.total-bet-number {
  margin-left: 14px;
  margin-top: 10px;
}

.placebet-styles-low {
  display: block;
  background-color: #dd3d3d;
  color: white;
  height: 100px;
  border-radius: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  padding-top: 20px;
  font-weight: bold;
}

.placebet-styles-draw {
  display: block;
  background-color: #a333c8;
  color: white;
  height: 100px;
  border-radius: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  padding-top: 20px;
  font-weight: bold;
}

.placebet-styles-high {
  display: block;
  background-color: rgb(119, 196, 226);
  color: white;
  height: 100px;
  border-radius: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  padding-top: 20px;
  font-weight: bold;
}

input.checked[type="radio"] {
  visibility: hidden;
}

.place-bet-boxes {
  margin-top: 10px !important;
  margin-left: 40px !important;
}

.potential-text {
  margin-left: 65px !important;
}

.wage-box {
  padding-bottom: 0px !important;
}

.wage-input {
  margin-left: 50px;
}

.wage-button {
  margin-left: 40px;
}

.results-margin{
  margin-right: 1px;
  margin-bottom: 1px;
}

.results-padding{
  padding-left: 50px;
  white-space: nowrap;
}

.results-box-padding{
  padding-left: 0px !important;
  padding-right: 0px !important;
  color: white;
  font-weight: 500;
}

@media (min-width: 320px) and (max-width: 1199px) {
  .stake-box {
    margin-left: 18px;
    width: 100%;
  }
  .wallet-box {
    padding-bottom: 0px;
  }
  .input-box {
    margin-left: 4px;
  }
  .red-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .blue-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .green-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .yellow-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .white-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .purple-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .live-room-colorbox {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .wallet-box {
    padding-left: 0px;
    padding-right: 0px;
  }
  .place-bet-boxes {
    margin-left: -3px !important;
  }
  .wage-input {
    margin-left: 10px;
  }
  .wage-button {
    margin-left: 0px;
  }
  .potential-text {
    margin-left: 12px !important;
  }
  .placebet-styles-low {
    margin-left: 0px !important;
  }

  .placebet-styles-draw {
    margin-left: 0px !important;
  }

  .placebet-styles-high {
    margin-left: 0px !important;
  }
  .results-margin{
    margin-right: 0px;
  }
  .results-padding{
    padding-left: 0px;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .stake-box {
    margin-left: 18px;
    width: 100%;
  }
  .wallet-box {
    padding-bottom: 0px;
  }
  .input-box {
    margin-left: 4px;
  }
  .red-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .blue-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .green-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .yellow-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .white-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .purple-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .live-room-colorbox {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .place-bet-boxes {
    margin-left: -3px !important;
  }
  .wage-input {
    margin-left: 10px;
  }
  .wage-button {
    margin-left: 0px;
  }
  .potential-text {
    margin-left: 12px !important;
  }
  .placebet-styles-low {
    margin-left: 0px !important;
  }

  .placebet-styles-draw {
    margin-left: 0px !important;
  }

  .placebet-styles-high {
    margin-left: 0px !important;
  }

  .results-padding{
    padding-left: 0px;
  }

  .results-margin{
    margin-right: 0px;
  }
}

@media (min-width: 320px) and (max-width: 720px) {
  .stake-box {
    margin-left: 18px;
    width: 100%;
  }
  .wallet-box {
    padding-bottom: 0px;
  }
  .input-box {
    margin-left: 4px;
  }
  .red-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .blue-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .green-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .yellow-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .white-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .purple-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .live-room-colorbox {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .place-bet-boxes {
    margin-left: -3px !important;
  }
  .wage-input {
    margin-left: 10px;
  }
  .wage-button {
    margin-left: 0px;
  }
  .potential-text {
    margin-left: 12px !important;
  }
  .placebet-styles-low {
    margin-left: 0px !important;
  }

  .placebet-styles-draw {
    margin-left: 0px !important;
  }

  .placebet-styles-high {
    margin-left: 0px !important;
  }
  .results-padding{
    padding-left: 0px;
  }
  .results-margin{
    margin-right: 0px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .stake-box {
    margin-left: 18px;
    width: 100%;
  }
  .wallet-box {
    padding-bottom: 0px;
  }
  .input-box {
    margin-left: 4px;
  }
  .red-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .blue-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .green-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .yellow-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .white-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .purple-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .live-room-colorbox {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .place-bet-boxes {
    margin-left: -3px !important;
  }
  .wage-input {
    margin-left: 10px;
  }
  .wage-button {
    margin-left: 0px;
  }
  .potential-text {
    margin-left: 12px !important;
  }
  .placebet-styles-low {
    margin-left: 0px !important;
  }

  .placebet-styles-draw {
    margin-left: 0px !important;
  }

  .placebet-styles-high {
    margin-left: 0px !important;
  }
  .results-padding{
    padding-left: 0px;
  }
  .results-margin{
    margin-right: 0px;
  }
}

/* TEXT ADJUSMENT */
@media (min-width: 320px) and (max-width: 440px) {
  .stake-box {
    margin-left: 18px;
    width: 100%;
  }
  .wallet-box {
    padding-bottom: 0px;
  }
  .input-box {
    margin-left: 4px;
  }
  .red-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .blue-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .green-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .yellow-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .white-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .purple-box {
    margin-left: 15px;
    margin-right: 0px;
  }
  .live-room-colorbox {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .place-bet-boxes {
    margin-left: -3px !important;
  }
  .wage-input {
    margin-left: 10px;
  }
  .wage-button {
    margin-left: 0px;
  }
  .potential-text {
    margin-left: 12px !important;
  }
  .placebet-styles-low {
    margin-left: 0px !important;
  }

  .placebet-styles-draw {
    margin-left: 0px !important;
  }

  .placebet-styles-high {
    margin-left: 0px !important;
  }
  .results-padding{
    padding-left: 0px;
  }
  .results-margin{
    margin-right: 0px;
  }
}
