.container-wallet {
  margin-top: 10px;
}

.wallet-label {
  padding-left: 12px;
}

.wallet-box {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  height: 100%;
}

.wallet-card {
  margin-bottom: 10px;
}

.wallet-balance {
  padding-top: 20px;
  font-size: 25px;
}

@media (min-width: 320px) and (max-width: 1199px) {
  .wallet-label {
    padding-left: 0px;
  }
  .wallet-box {
    padding-top: 0px;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .wallet-label {
    padding-left: 0px;
  }
  .wallet-box {
    padding-top: 0px;
  }
}

@media (min-width: 320px) and (max-width: 720px) {
  .wallet-label {
    padding-left: 0px;
  }
  .wallet-box {
    padding-top: 0px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .wallet-label {
    padding-left: 0px;
  }
  .wallet-box {
    padding-top: 0px;
  }
}

/* TEXT ADJUSMENT */
@media (min-width: 320px) and (max-width: 440px) {
  .wallet-label {
    padding-left: 0px;
  }
  .wallet-box {
    padding-top: 0px;
  }
}
